body {
    background-color: #333;
    color: #ecece1;
    font-family: 'Courier New', monospace;
    font-style: italic;
    line-height: 1.6; /* Adiciona espaço entre as linhas para melhorar a legibilidade */
    margin: 10 ; /* Adiciona margens laterais ao corpo do documento */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #111; /* Move para .navbar para evitar repetição */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-right: 10%;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li:last-child { /* Move o botão para o final da navbar */
    float: right;
}

h2 { /* Centraliza os títulos */
    text-align: center;
}
.navbar li a,
.navbar li button {
    display: block;
    color: #def5d9;
    text-align: center;
    padding: 14px 16px; /* Reduz o padding para um tamanho mais padrão */
    text-decoration: none;
}

.navbar li a:hover,
.navbar li button:hover { /* Adiciona hover para botões também */
    background-color: #3a3a3a;
}
.btn {
    display: block;
    color: #130e0e;
    text-align: center;
    padding: 50px 50px;
    /* Aumento do espaçamento */
    text-decoration: none;
    background-color: #1b2c04;
}

.section::before {
    content: "";
    display: block;
    height: 70px; /* Deve ser igual à altura da sua barra de navegação */
    margin: -70px 0 2; /* Deve ser o mesmo valor que height, mas negativo */
    visibility: hidden;
    margin-bottom: 5%;
}

.text {
    font-size: 1.5em; /* Ajustar conforme necessário */
    margin-left: 5%;
}


.flex-container {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between; /* Adiciona espaço igual entre os itens */
}


.image img {
    max-width: 50%;
    height: 50%;
    border-radius: 70%;
    margin-left: 5%;
}


form {
    width: 10%; /* Ajuste conforme necessário */
    margin: auto;
    margin-bottom: 10%;
    margin-top: 5%;
    
}

form label {
    margin-bottom: auto;
    color: #fff;
}

form input[type="text"],
form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form input[type="submit"] {
    padding: 10px 20px;
    margin-bottom: 10%;
    border: none;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: #ece0ea;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555; /* Adiciona um hover ao botão de envio */
}

.redes-sociais img {
    width: 80px;
    /* Ajuste conforme necessário */
    height: 70px;
    /* Ajuste conforme necessário */
}

.image img, .redes-sociais img {
    transition: transform 0.3s ease;
}

.image img:hover, .redes-sociais img:hover {
    transform: scale(1.1);
}
body.light-mode {
    background-color: #b9aaaa; /* Cor de fundo clara */
    color: #1f1c1c; /* Cor de texto escura */
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body.light-mode h2 {
    color: #272323; /* Cor de texto escura */
}

body.light-mode form {
    background-color: #252525; /* Cor de fundo escura */
    color: #252323; /* Cor de texto clara */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: center;
    padding: 5px 0;
}